@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Download", "home", FormMethod.Post))
 {

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>BlobInfo</h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="imageFile">Image file</label>
            <div class="col-md-10">
                <input type="text" name="theFilepath"  class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
    </div>

 }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
